.App {
    .navbar {
        transition: 0.6s;
        font-weight: 700;

        &.bg-custom {
            background-color: var(--base-primary-color);
            // box-shadow: 0px 2px 30px var(--navbar-shadow);

            .nav-link {
                color: var(--secondary-text-color);
                
                &:hover {
                    color: var(--transparent-text-color);
                }
            }
        }
    }
}