.App {
    .navbar {
        transition: 0.6s;
        font-weight: 700;

        &.bg-custom {
            background-color: var(--base-primary-color);
            // box-shadow: 0px 2px 30px var(--navbar-shadow);
        }

        .custom-rounded-bottom {
            border-radius: 0 0 1rem 1rem;
        }

        &:not(.bg-custom) {
            padding-top: 0;

            .navbar-brand {
                padding: 10px;
            }
        }
    }
}