form {
    label {
        font-size: 28px;
        color: var(--gray-text-color);
    }

    input {
        display: block;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        outline: none;
        font-size: 20px;
        line-height: 30px;
        padding: 0.3rem 0.15rem;
        border-bottom: 1px solid #909399;
        transition: 0.25s;
        border-radius: 0;
    
        &:focus {
            border-color: var(--base-primary-color);
        }
    }

    .btn {
        margin-top: 2rem;
    }
}