:root {
    /* Load Images */
    --background-image-1: url('/assets/images/photo8.jpeg');
    --background-image-2: url('/assets/images/photo10.jpeg');
    --background-image-3: url('/assets/images/photo5.jpeg');

    /* Color Palette */
    --base-primary-color: #7F8381;
    --base-secondary-color: #282440;
    --default-bg-color: #FFF;
    --base-bg-dark: #202022;

  
    /* Backgrounds */
    --jumbotron-bg-1: #F2F6FC;
    --jumbotron-bg-2: rgba(0, 0, 0, 0);
  
    /* Navbar */
    --navbar-shadow: rgba(48, 49, 51, 0.2);
    --navbar-brand-shadow: rgba(0, 113, 176, 0.18);
  
    /* Header */
    --header-color: #9AEFBD 0%, rgba(33, 208, 106, 0) 97.02%;
    --header-color-2: #3EDF81 0%, #6EE8A1 100%;
  
    /* Button */
    --button-primary: #21D06A 0%, #6EE8A1 100%;
    --button-primary-shadow: rgba(49, 255, 135, 0.28);
    --button-secondary: #CB4E4D 0%, #F77777 100%;
    --button-secondary-shadow: rgba(170, 60, 59, 0.3);
  
    /* Text */
    --primary-text-color: #282440;
    --secondary-text-color: #FFF;
    --gray-text-color: #909399;
    --transparent-text-color: rgb(250, 252, 253, 0.8);
  
    /* Highlighted Color */
    --highlight-color: #21D06A;
  
    /* Footer */
    --footer-background-color: #F2F6FC;
    --footer-list-color: #606266;
  
    overflow-x: hidden;
    box-sizing: border-box;
  }