$primaryColor: var(--base-primary-color);
$secondaryColor: var(--base-secondary-color);

.header {
    padding: 2rem 4em;
    margin-bottom: 20vh;
    
    & > &-background {
        position: relative;
        width: 68vw;
        min-height: 90vh;
        background-color: $primaryColor;
        padding: 6vh 0 5vw 4vw;

        & .header-title {
            width: 40%;
            font-size: 6rem;
            font-weight: bolder;
            color: $secondaryColor;
        }

        & .header-image {
            width: 30vw;
            min-width: 500px;

            &.absolute {
                position: absolute;
                right: -80px;
                bottom: 28%;
            }

            &::after {
                content: "MARKETING COMMUNICATION";
                color: $secondaryColor;
                font-size: 1.5rem;
                position: absolute;
                right: -150px;
                font-weight: bold;
                width: 150px;
            }
        }

        & .header-icon {
            font-size: 150px;
            
            position: absolute;
            left: 1vw;
            bottom: -8px;
        }
    }

}