$footerBackgroundColor: var(--footer-list-color);
$footerTitleColor: var(--footer-background-color);

$primaryTextColor: var(--primary-text-color);
$secondaryTextColor: var(--secondary-text-color);

.contact {
    width: 100%;
    background-color: $footerBackgroundColor;
    display: grid;
    grid-template-areas: "contact-image contact-title contact-title contact-title"
                         "contact-image contact-info contact-info contact-info";
    grid-gap: 0;

    #contact-image-container {
        grid-area: contact-image;
        display: flex;
        justify-content: center;

        img.contact-image {
            min-width: 378px;
            width: 100%;
            max-width: 400px;
            height: auto;
        }
    }

    #contact-title {
        grid-area: contact-title;
        width: 100%;
        background-color: $footerTitleColor;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 3rem;
        text-transform: uppercase;
        
        h2 {
            font-size: 4rem;
            font-weight: bolder;
        }
    }

    #contact-info {
        grid-area: contact-info;
        margin-left: 0;
        margin-right: 0;

        display: flex;
        flex-wrap: wrap;

        .social-media {
            padding: 5rem;

            h3, a {
                color: $secondaryTextColor;
            }

            h3 {
                font-weight: bolder;
                font-size: 1.7rem;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

            a {
                cursor: pointer;
                text-decoration: none;
                display: block;
                margin: 4px 0 7px;
                font-size: 1.1rem;
            }

            &-icon {
                padding-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .contact {
        display: flex;
        flex-direction: column;

        #contact-image-container {
            display: none;
        }
    
        #contact-info {
            width: 100%;
        }
    }
}