.photography {
    width: 100%;
    
    &-media {
        position: relative;
        height: 270px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    
    &-feeds {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10vh;

        &.absolute {
            position: absolute;
            top: -130px;

            & .photography-feed {
                width: auto;
                height: 300px;
                min-width: 200px;
                
                & > img {
                    height: 100%;
                }
            }
        }
        
        
        & .photography-feed {
            width: auto;
            height: 200px;
            
            & > img {
                height: 100%;
            }
        }
    }

    &-explanation {
        margin: 0 auto;
        font-size: 1rem;
        text-align: justify;
        width: 85%;
    }


}

@media screen and (max-width: 976px) {
    .photography {
        &-media {
            height: auto;
            margin-bottom: 40px;
        }

        &-feeds {
            gap: 4vh;
        }
    }
}