* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--primary-text-color); */
}

.App {
  font-family: 'Mulish';
  color: var(--primary-text-color);
  /* min-height: 900px; */
}

.base-bg-dark {
  background-color: var(--base-bg-dark);
}

/* Fonts */

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/Mulish-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/Mulish-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

/* Static 'Mulish' Font */

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Mulish';
  src: url('./Fonts/mulish/static/Mulish-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
