$primaryColor: var(--base-primary-color);
$secondaryColor: var(--base-secondary-color);
$primaryTextColor: var(--primary-text-color);
$secondaryTextColor: var(--secondary-text-color);
$backgroundImage: var(--background-image-3);

.background {
    margin-bottom: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    & > &-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        
        & > * {
            font-weight: bolder;
            text-transform: uppercase;
            width: 200px;
        }

        & > h2 {
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }

        & > h4 {
            font-size: 2rem;
        }
    }

    & > &-info {
        display: flex;
        justify-content: center;
        position: relative;
        
        & > .background-description {
            background-color: $primaryColor;
            color: $secondaryTextColor;
            width: 91%;
            height: auto;
            padding: 2.5rem 4rem;            
        }
    }
}

@media screen and (max-width: 555px) {
    .background {
        & > &-info {
            & > .background-description {
                padding: 2rem;
            }
        }
    }
}