$backgroundImage: var(--background-image-1);
$secondaryTextColor: var(--secondary-text-color);

.collections {
    width: 100%;
    margin-bottom: 20vh;
    display: grid;
    grid-template-areas: "image1 image2 image2 image3 image3"
                             "image1 image2 image2 image3 image3"
                             "title image4 image4 image3 image3"
                             "image5 image4 image4 image6 image6";
    gap: 2rem;
    overflow: hidden;

    background-image: $backgroundImage;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    .collection-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
                        
    .collection-title {
        grid-area: title;
        width: 80%;
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        color: $secondaryTextColor;
        z-index: 2;
        height: 80%;

        h2 {
            font-size: 4vw;
        }
    }

    .collection-image {
        width: 100%;
        max-height: 550px;
        z-index: 2;

        & > img {
            width: 100%;
        }
    }

    #collection-1 {
        grid-area: image1;
        height: 85%;
    }

    #collection-2 {
        grid-area: image2;
        // height: 70%;
        overflow: hidden;
    }

    #collection-3 {
        grid-area: image3;
        width: 100%;
        // max-height: 580px;
        overflow: hidden;
    }

    #collection-4 {
        grid-area: image4;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
    }

    #collection-5 {
        grid-area: image5;
        display: flex;
        align-items: flex-end;
    }

    #collection-6 {
        grid-area: image6;
        display: flex;
        align-items: flex-end;
        width: 100%;
        overflow: hidden;
    }
}